.sorting-panel {
  margin-bottom: 20px;

  &__tab-list {
    display: flex;
  }

  &__tab-option {
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fff;
    color: #4A4A4A;
    border: 1px solid #DFE5EC;
  }

  &__tab-option:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  &__tab-option:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__tab-option--active {
    background-color: #2196F3;
    border-color: #2196F3;
    color: #fff;
  }
}