.app {
  &__container {
    width: 754px;
    margin: 0 auto;
  }

  &__header {
    padding: 35px 0;
    text-align: center;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 30px;
  }

  &__filter-panel {
    margin-right: 20px;
  }

  &__results {
    flex-grow: 1;
  }
}